<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swift_Sales::management" sortOrder="100" title="Order Management" module="Swift_Sales"
             parent="Catalog_Product::management" resource="Swift_Sales::management" translate="title"
             action="order/order/index"/>
    </menu>
</config>
