<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swift_Catalog::management" sortOrder="100" title="Product Management" module="Swift_Catalog"
             parent="Magento_Sales::sales" resource="Swift_Catalog::management" translate="title"
             action="product/product/index"/>
    </menu>
</config>
