<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swift\Customer\Api\GetAddressListInterface" type="Swift\Customer\Query\Address\GetListQuery"/>
    <preference for="Swift\Customer\Api\SaveAddressInterface" type="Swift\Customer\Command\Address\SaveCommand"/>
    <preference for="Swift\Customer\Api\DeleteAddressByIdInterface"
                type="Swift\Customer\Command\Address\DeleteByIdCommand"/>
    <preference for="Swift\Customer\Api\Data\AddressSearchResultsInterface"
                type="Swift\Customer\Model\AddressSearchResults"/>
</config>
