<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swift_Content::management" sortOrder="100" title="Cms Management" module="Swift_Content"
             parent="Catalog_Product::management" resource="Swift_Content::management" translate="title"
             action="cms/cms/index"/>
    </menu>
</config>
