<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Catalog\Product\Api\GetProductInfoInterface" type="Catalog\Product\Query\Product\GetProductListQuery"/>
    <preference for="Catalog\Product\Api\SaveProductInterface" type="Catalog\Product\Command\Product\SaveCommand"/>
    <preference for="Catalog\Product\Api\DeleteProductByIdInterface"
                type="Catalog\Product\Command\Product\DeleteByIdCommand"/>
    <preference for="Catalog\Product\Api\Data\ProductSearchResultsInterface"
                type="Catalog\Product\Model\ProductSearchResults"/>
</config>
