<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swift_Customer::management" sortOrder="100" title="Address Management" module="Swift_Customer"
             parent="Catalog_Product::management" resource="Swift_Customer::management" translate="title"
             action="address/address/index"/>
    </menu>
</config>
